.footer{
    background-color: gray;
    border: 1px solid black;
    min-height: 30px;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  
  }